groq
python-dotenv
pymongo
fastembed
simpleeval
tavily-python
bcrypt==4.0.1
uvicorn
fastapi
python-jose[cryptography]
passlib
certifi
google-auth
resend
python-multipart
pymupdf
python-docx
beautifulsoup4